.panel{
    display: flex;
    width: 70vw;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
}

.buttonStyle{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background: black;
    color: yellow;
    border-radius: 20%;


}
.buttonStyle:active{
    border:2px solid rgb(217, 225, 6);
    box-shadow: 2px 2px 5px black;


}

.screen{
    width: 70vw;
    height: 60vh;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10%; */
    background: linear-gradient(0deg, #98a0a8, #bcb5b5);
    z-index:-2;
}

.body{
    margin:20px 50px;
    box-shadow: 2px 2px 5px black;
    padding:10px
}

.waterPrint{
    position: absolute;
    z-index: 0;
    opacity: 0.2;
}